CONFIG_MIPS=y
CONFIG_SYS_HAS_NONCACHED_MEMORY=y
CONFIG_SYS_MALLOC_LEN=0x100000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x1000
CONFIG_DEFAULT_DEVICE_TREE="cdim"
CONFIG_TEXT_BASE=0x9fc00000
CONFIG_SYS_LOAD_ADDR=0x84000000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x87000000
CONFIG_TARGET_CDIM=y
CONFIG_SYS_MIPS_TIMER_FREQ=33333333
CONFIG_MIPS_CACHE_INDEX_BASE=0x80000000
CONFIG_MIPS_RELOCATION_TABLE_SIZE=0x8000
CONFIG_RESTORE_EXCEPTION_VECTOR_BASE=y
CONFIG_MIPS_BOOT_FDT=y
CONFIG_DEBUG_UART=y
CONFIG_FIT=y
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_SYS_CONSOLE_INFO_QUIET=y
CONFIG_SYS_BOOTM_LEN=0x2000000
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_PHY=y
CONFIG_DM_MDIO=y
CONFIG_DM_ETH_PHY=y
# reduce image size
CONFIG_SYS_LONGHELP=n
CONFIG_MTD=n
CONFIG_DISTRO_DEFAULTS=n
CONFIG_REGEX=n
CONFIG_EFI_LOADER=n
CONFIG_PARTITIONS=n
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_MDIO=y
CONFIG_CMD_PING=y
CONFIG_CMD_2048=y
CONFIG_CMD_NFS=n
CONFIG_CMD_CRC32=n
CONFIG_CMD_LZMADEC=n
CONFIG_CMD_UNLZ4=n
CONFIG_CMD_UNZIP=n
CONFIG_FIT_FULL_CHECK=n
CONFIG_FIT_ENABLE_SHA256_SUPPORT=n
CONFIG_GZIP=n
CONFIG_DM_MMC=n
CONFIG_CMD_LOADB=n
CONFIG_CMD_FDT=n

# early debug uart
CONFIG_DEBUG_UART_BASE=0xbfe40000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEBUG_UART_SHIFT=0
CONFIG_BAUDRATE=115200